.blog.hero
  .entry
    width: 60%
    margin: 100px auto
    text-align: left
    @include iphone5
      width: 90%

    @include iphone4
      width: 90%


    h1
      font-size: 28px

    h5
      margin-left: 20px
      font-weight: 100

    p
      font-weight: 100
