// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SASS) here: http://sass-lang.com/

// global====================================================

body
  font-family: 'Helvetica', sans-serif

.v-center
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

// accounts for slim removing trailing spaces
span.space
  margin-left: 0.15em
  margin-right: 0.15em

// _header===================================================


// _flash====================================================
.bootstrap-growl.alert
  background-color: white
  border-radius: 4px
  color: black
  font-weight: 300
  border: solid 1px #F0F0F0
  top: 70px !important

  a
    display: none
